
@{
    ViewBag.Title = "Informes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Informes del sistema</h2>
<img height="200" width="200" src="~/Recursos/logoReporte.jpg" />
<br />
<div class="col-md-6">
    <br />
    <p><a href="@Url.Action("BoletosPendientes","Reportes")">Boletos pendientes</a></p>
    <p><a href="@Url.Action("CantidadTarifasXlinea","Reportes")">Cantidad de tarifas por línea</a></p>
    <p><a href="@Url.Action("TotalesXCorredor","Reportes")">Totales por corredor</a></p>
    <p><a href="@Url.Action("TotalesXTarifa","Reportes")">Totales por tipo de tarifa</a></p>
</div>
<br />
<a href="@Url.Action("Index", "Home")">Volver a inicio</a>

