

@model PagedList.IPagedList<ConiferApp.Models.ProduccionDetalle>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "ControlarProduccion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="text-center">Consultar producción</h4>

<div class="container">
    <div class="row justify-content-center">
        <div class="col col-md-auto">
            <form asp-action="ControlarProduccion" method="get">
                <div class="form-group">
                    <div class="row">
                        <div>
                            Buscar por:
                            <select class="form-control" name="TipoBusqueda" id="TipoBusqueda">
                                <option selected>Seleccione criterio</option>
                                <option value="Legajo">Legajo</option>
                                <option value="Coche">Coche</option>
                                <option value="Linea">Línea</option>
                                <option value="Fecha">Fecha</option>
                                <option value="Controladora">Controladora</option>
                            </select>
                            <div>
                                <label for="TipoBusqueda">Ingrese </label>
                                <span id="criterioSeleccionado"></span>
                            </div>
                            <input type="text" name="cadenaBusqueda" value="@ViewData["CurrentFilter"]" />
                            <input type="submit" value="Buscar" class="btn btn-sm btn-success" />
                        </div>
                    </div>
                </div>
            </form>



        </div>
    </div>
</div>

<hr />
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Nro. producción
            </th>
            <th>
                Fecha
            </th>
            <th>
                @Html.ActionLink("Línea", "ControlarProduccion", new { Ordenamiento = ViewBag.OrdenLinea })
            </th>
            <th>
                @Html.ActionLink("Coche", "ControlarProduccion", new { Ordenamiento = ViewBag.OrdenCoche })
            </th>
            <th>
                Legajo
            </th>
            <th>
                Hora inicio
            </th>
            <th>
                Hora fin
            </th>
            <th>
                Controladora
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.idproduccion
                </td>
                <td>
                    @item.fecha
                </td>
                <td>
                    @item.linea
                </td>
                <td>
                    @item.coche
                </td>
                <td>
                    @item.legajo
                </td>
                <td>
                    @item.horainicio
                </td>
                <td>
                    @item.horafin
                </td>
                <td>
                    @item.controladora
                </td>
                <td>
                    <a class="btn btn-sm btn-secondary" @Html.ActionLink("Detalles", "Details", new { id = item.id })></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<hr />

<br />

<div>
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount  -  Elementos totales: @Model.TotalItemCount

    @Html.PagedListPager(Model, page => Url.Action("ControlarProduccion",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>

<script>
    // Agrega un controlador de evento para el cambio en el select
    document.getElementById("TipoBusqueda").addEventListener("change", function() {
        var select = document.getElementById("TipoBusqueda");
        var criterioSeleccionado = document.getElementById("criterioSeleccionado");

        // Obtén el valor seleccionado
        var seleccion = select.options[select.selectedIndex].text;

        // Actualiza el contenido del span
        criterioSeleccionado.textContent = seleccion;
    });
</script>




