@model ConiferApp.Models.ProduccionDetalle

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h4>Producción detalle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nro. producción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idproduccion)
        </dd>

        <dt>
            Fecha
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <th>
            línea
        </th>

        <dd>
            @Html.DisplayFor(model => model.linea)
        </dd>

        <th>
            Coche
        </th>

        <dd>
            @Html.DisplayFor(model => model.coche)
        </dd>

        <th>
            Legajo
        </th>

        <dd>
            @Html.DisplayFor(model => model.legajo)
        </dd>

        <th>
            Hora inicio
        </th>

        <dd>
            @Html.DisplayFor(model => model.horainicio)
        </dd>

        <th>
            Hora fin
        </th>

        <dd>
            @Html.DisplayFor(model => model.horafin)
        </dd>

        <th>
            Controladora
        </th>

        <dd>
            @Html.DisplayFor(model => model.controladora)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Volver", "ControlarProduccion")
</p>
