@model ConiferApp.Models.TiposIncidentes

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Detalle tipo de incidente seleccionado</h2>

<div>
    @*<h4>TiposIncidentes</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Vigente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vigente)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
