@using System.Data
@model DataTable
@{
    ViewBag.Title = "BoletosPendientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Reporte de boletos pendientes</h2>
<br />
<form method="post" enctype="multipart/form-data">
    <div>
        <br />
        <div class="row">
            <div class="col-md-5">
                <label for="fecha1">Fecha hoja de ruta desde:</label>
                <input name="fecha1" type="date" placeholder="today" required />
                <br />
                <br />
                <label for="fecha2">Fecha hoja de ruta hasta:</label>
                <input name="fecha2" type="date" placeholder="today" required />
                <br />
                <br />
            </div>
            <div class="col-md-3">
                <label for="estadoSeleccionado">Estado:</label>
                <select name="estadoSeleccionado" required>
                    <option value="">Seleccione opción</option>
                    <option value="0">Pendientes sin saldar</option>
                    <option value="1">Pendientes saldados</option>
                </select>
            </div>
            <div class="col-md-3">
                <br />
                <input type="submit" id="Buscar" name="Buscar" value="Buscar" class="btn btn-outline-success" />
            </div>
        </div>
        @*<div class="row">
            <div class="col-md-4">
                <input type="reset" value="Limpiar filtros" class="btn btn-outline-warning" />
            </div>
        </div>*@
        <br />

        @if (ViewData["Resultado"] != null)
        {
            <table class="table">
                <tr>
                    <th>
                        Fecha
                    </th>
                    <th>
                        Legajo
                    </th>
                    <th>
                        Coche
                    </th>
                    <th>
                        Línea
                    </th>
                    <th>
                        Cantidad adeudada
                    </th>
                    <th>
                        Cantidad saldada
                    </th>
                </tr>
                @foreach (DataRow item in Model.Rows)
                {
                    <tr>
                        <td>
                            @Convert.ToString(item["fecha"])
                        </td>
                        <td>
                            @Convert.ToString(item["legajo"])
                        </td>
                        <td>
                            @Convert.ToString(item["coche"])
                        </td>
                        <td>
                            @Convert.ToString(item["linea"])
                        </td>
                        <td>
                            @Convert.ToString(item["cantidad_adeudada"])
                        </td>
                        <td>
                            @Convert.ToString(item["cantidad_devueltos"])
                        </td>
                    </tr>
                }
            </table>
        }

        @if (ViewData["Mensaje"] != null)
        {
            <div class="col-md-5">
                <div class="alert alert-danger" role="alert">
                    @ViewData["Mensaje"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>           
        }

    </div>
    <br />
    <a class="btn btn-outline-dark" href="@Url.Action("Informes", "Home")">Volver a reportes</a>  |  <a class="btn btn-outline-dark" href="@Url.Action("ImprimirBoletosPendientes", "Reportes")">Imprimir</a>
</form>

    


