@using System.Data
@model DataTable
@{
    ViewBag.Title = "TotalesXTarifa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Totales por tipo de tarifa</h2>
<br />
<form method="post" enctype="multipart/form-data">
    <div>
        <br />
        <div class="row">
            <div class="col-md-5">
                <label for="fecha1">Fecha hoja de ruta desde:</label>
                <input name="fecha1" type="date" placeholder="today" required />
                <br />
                <br />
                <label for="fecha2">Fecha hoja de ruta hasta:</label>
                <input name="fecha2" type="date" placeholder="today" required />
                <br />
                <br />
            </div>
            <div class="col-md-3">
                <label for="corredor">Corredor:</label>
                <input name="corredor" type="number" placeholder="6" required />
            </div>
            <div class="col-md-3">
                <br />
                <input type="submit" id="Buscar" name="Buscar" value="Buscar" class="btn btn-outline-success" />
            </div>
        </div>
        <br />

        @if (ViewData["Resultado"] != null)
        {
            <table class="table">
                <tr>
                    <th>
                        Tipo Tarifa
                    </th>
                    <th>
                        precio
                    </th>
                    <th>
                        Cantidad de boletos
                    </th>
                    <th>
                        Recaudación
                    </th>
                </tr>
                @foreach (DataRow item in Model.Rows)
                {
                    <tr>
                        <td>
                            @Convert.ToString(item[""])
                        </td>
                        <td>
                            @Convert.ToString(item[""])
                        </td>
                        <td>
                            @Convert.ToString(item[""])
                        </td>
                        <td>
                            @Convert.ToString(item[""])
                        </td>
                    </tr>
                }
            </table>
        }

        @if (ViewData["Mensaje"] != null)
        {
            <div class="col-md-5">
                <div class="alert alert-danger" role="alert">
                    @ViewData["Mensaje"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        }

    </div>
    <br />
    <a class="btn btn-outline-dark" href="@Url.Action("Informes", "Home")">Volver a reportes</a>  |  <a class="btn btn-outline-dark" href="@Url.Action("ImprimirTotalesXTarifa", "Reportes")">Imprimir</a>
</form>


